body {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40vh;
  padding-bottom: 40vh;
}

ul {
  /* margin: 0; */
  display:inline-block;
}


li {
  /* width: 100px; */
  margin: auto;
  text-align: left;
}

button {
  border: none;
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10%;
}

#submit-button {
  background-color: #04AA6D;
}
#reset-button {
  background-color: #FF0000;
}

#myInput {
  
}